<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"


        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".popupthing"
            android:exported="false" />

        <activity
            android:name=".spreytiming"
            android:exported="false" />
        <activity
            android:name=".Registration_page"
            android:exported="true"></activity>
        <activity
            android:name=".Login_page"
            android:exported="false" />
        <activity
            android:name=".edit_page"
            android:exported="false" />
        <activity
            android:name=".otp_page"
            android:exported="false" />
        <activity
            android:name=".verified_page"
            android:exported="false" />
        <activity
            android:name=".forget_password"
            android:exported="false" />
        <activity
            android:name=".new_password_page"
            android:exported="false" />
        <activity
            android:name=".activitypage"
            android:exported="false" />
        <activity
            android:name=".Crop_Stage"
            android:exported="false" />
        <activity
            android:name=".crop_stage_tracking"
            android:exported="false" />
        <activity
            android:name=".privacy_page"
            android:exported="false" />
        <activity
            android:name=".notification_page"
            android:exported="false" />
        <activity
            android:name=".termncondition"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity
            android:name=".adddevice"
            android:exported="false" />
        <activity
            android:name=".Add_plot"
            android:exported="false" />
        <activity
            android:name=".clender"
            android:exported="false" />
        <activity
            android:name=".profilenavigation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>