<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        tools:targetApi="31">
        <activity
            android:name=".popupthing"
            android:exported="false" />

        <activity
            android:name=".activity_flash"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spreytiming"
            android:exported="false" />

        <activity
            android:name=".welcome_page"
            android:exported="false" />

        <activity
            android:name=".welcome_back_next_page"
            android:exported="false" />

        <activity
            android:name=".otp_page"
            android:exported="false" />


        <activity
            android:name=".verified_page"
            android:exported="false" />




        <activity
            android:name=".activitypage"
            android:exported="false" />
        <activity
            android:name=".Crop_Stage"
            android:exported="false" />
        <activity
            android:name=".crop_stage_tracking"
            android:exported="false" />
        <activity
            android:name=".privacy_page"
            android:exported="false" />
        <activity
            android:name=".notification_page"
            android:exported="false" />
        <activity
            android:name=".termncondition"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity
            android:name=".tream"
            android:exported="false" />
        <activity
            android:name=".adddevice"
            android:exported="false" />
        <activity
            android:name=".MainActivity__c"
            android:exported="false" />
        <activity
            android:name=".clender"
            android:exported="false" />
        <activity
            android:name=".profilenavigation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

    </application>

</manifest>